<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik+Mono+One&display=swap" rel="stylesheet">
<style>
    * {
        font-family: "Rubik Mono One", "sans-serif";
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: {{tcolor}};
        font-size: 40pt;
    }
    p {
        color: green;
        font-size: 24pt;
    }
</style>
<div>
    <h1>Welcome To Tanzu World!</h1><br>
    <p>Wisdom of today is:</p><br>
    <p> -{{ wordofday }}!!!</p>
</div>